# System files
.DS_Store

# Data directories (do not leak DBs, keys, or logs)
data/

# Specific Configs
config/headscale/config.yaml
config/adguard/AdGuardHome.yaml

# Environment variables
.env

# Logs
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.cursor