# System files
.DS_Store

# Data directories (do not leak DBs, keys, or logs)
data/
data/headscale/*
data/adguard/*
data/torproxy/*

# Environment variables
.env

# Logs
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
