:6500 {
	@hs-options {
		method OPTIONS
	}
	@hs-other {
		not method OPTIONS
	}
	
	handle @hs-options {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Headers *
			Access-Control-Allow-Methods "POST, GET, OPTIONS, PUT, DELETE"
		}
		respond 204
	}
	
	handle @hs-other {
		reverse_proxy headscale:8080 {
			header_down Access-Control-Allow-Origin *
			header_down Access-Control-Allow-Methods "POST, GET, OPTIONS, PUT, DELETE"
			header_down Access-Control-Allow-Headers *
		}
	}
}